<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 border m-4 p-4">
      <p class="text-center">Ask your coach anything</p>
      <form action="answer" data-turbo="false" class="d-flex p-4">
        <input class="form-control" type="text" name="question" placeholder="What should I ask?" >
        <input class="btn btn-primary" type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
